body {
    background-image: url('images/background.jpg'); /* Caminho da imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    height: 95vh; /* Faz o fundo ocupar a altura total da tela */
    margin: 0; /* Remove margens padrão */
    overflow-x: hidden; /* Esconde o excesso horizontal */
  }
.fonte {
    display: flex;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    width: 250px;
    color: black;
    justify-content: flex-end;
    align-items: center;
    height: 83px;
}
.fonte2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    color: black;
  }
  .fonte3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: slategray;
    font-size: 20px;
  }
.container {
    display: flex;
    align-items: flex-end;
    height: 70px;
    width:100%;
    margin-left: 30px;
    gap: 5px;
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%; 
}
.container3 {
    height: 600px;
    width: 1000px;
}
.box{
    display: flex;
    background-color: #252530;
    height: 100px;
    width: 900px;
    border-radius: 10px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: slategray;
    align-items: center;
    cursor: pointer;
}
.espaco {
    display: flex;
    width: 750px;
    height: 100px;
}
.espaco2{
    width: 300px;
}
.espaco3{
    width: 200px;
}
.espaco4{
    width: 200px;
}
.espaco5{
    width: 50px;
}
.botaoContainer{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap: 5px;
}
.botao{
    padding: 10px 20px;                /* Espaçamento interno */
    font-size: 16px;                   /* Tamanho do texto */
    color: slategray;                      /* Cor do texto */
    border: none;
    background-color: #1C1C20;
    border-radius: 5px;                /* Bordas arredondadas */
    cursor: pointer;                   /* Ícone de mão ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para o hover */
}
.botao2{
    background-color: #252530;
    border: none;
    border-radius: 10px;
    width: 40px;
    font-size: 35px;
    color: slategray;
}
.botao:hover{
    background-color: #00c3ff; /* Muda a cor ao passar o mouse */
    transform: scale(1.1);     /* Aumenta ligeiramente o tamanho */
}
.botao2:hover{
    background-color: slategray; /* Muda a cor ao passar o mouse */
    transform: scale(1.1);     /* Aumenta ligeiramente o tamanho */
}
.linha1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
}
.linha2{
   background-color: black;
    width: 97%;
    height: 10px;
}
body {
    background-color: #1C1C20;
    color: white; 
}
.accordion {
    justify-content: center;
    background-color: #252530;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.active, .accordion:hover {
    background-color: #00c3ff;
}

.panel {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0 18px;
    background-color: slategray;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    color: black;
    font-size: 20px;
}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem2{
    width: 965px;
    height: 500px;
}